/* Eléments principaux de la page */
body
{
    font-family: 'Raleway', sans-serif;
    color: black;
}

.bloc_page
{
    margin-left: 5%;
    margin-right: 5%;
}

.img_title, .show_more
{
    font-weight: 700;
}

h1, h2
{
    font-weight: bolder;
}

.price
{
    font-weight: 900;
}

/* Header */
header 
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    display: flex;
    align-items: center;
}

.logoImg
{
    height: 45px;
    width: 100px;
    margin-left: 5px;
}

nav, .nav
{
    display: flex;
    flex-direction: row-reverse;
}

nav a
{
    border-top: 3px solid transparent;
    margin-top: -8px;
    padding: 40px 40px;
    text-decoration: none;
    color: black;
}

.ancre
{
    margin-right: 40px;
}

.ancre a:hover
{
    border-color: #0065FC;
    color: #0065FC;
}

.register
{
    margin-top: -8px;
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
    padding: 42px 0px 10px 0px;
}

/*Section bloc_search*/
.bloc_search h1
{
    font-size: 1.3em;
}

.bloc_search p
{
    font-size: 0.9em;
}

.bloc_search h2
{
    font-size: 1.2em;
}



/*Section bloc_search Barre de recherche*/
.icon_search
{
    display: none;
}

.search 
{
    position: relative;
    display: flex;
}
  
.searchTerm
{
    width: 150px;
    border: 2px solid #F2F2F2;
    border-right: none;
    padding: 5px;
    height: 34px;
    outline: none;
    font-weight: bold;
}
  
.geoLoca 
{
    width: 40px;
    height: 34px;
    background: #F2F2F2;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
}
  
.searchButton 
{
    width: 150px;
    height: 34px;
    border: none;
    background: #0065FC;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 15px;
}
  
.fa-map-marker-alt
{
    margin-top: 20%;
}

/*Section bloc_search Filtre*/
.filter h2
{
    font-size: 1.1em;
    margin-right: 70px;
}

.filter
{
    display: flex;
    padding-top: 15px;
    width: 55%;
    align-items: baseline;
}

.filterButton
{
    display: flex;
    justify-content: space-around;
}

.filterButton div
{
    margin-left: 50px;
}

.buttonEconomique
{
    display: flex;
    width: 130px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    border-left: none;
}

.buttonFamilial
{
    display: flex;
    width: 105px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    border-left: none;
}

.buttonRomantique
{
    display: flex;
    width: 130px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    border-left: none;
}

.buttonAnimaux
{
    display: flex;
    width: 170px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    border-left: none;
}

.filter input
{
    background-color: transparent;
    border-radius: 50px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.fa-money-bill-wave
{
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 8px 7px;
}

.fa-child
{
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 8px 10px;
}

.fa-heart
{
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 8px 8px;
}

.fa-dog
{
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 8px 7px;
}

.buttonEconomique:hover, .buttonFamilial:hover, .buttonRomantique:hover, .buttonAnimaux:hover
{
    cursor: pointer;
    background-color: #DEEBFF;
}

input:hover
{
    cursor: pointer;
}

.info
{
    display: flex;
    align-items: flex-end;
}

.fa-info
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}
/*Div double_section*/
.double_section
{
    display: flex;
    justify-content: space-between;
}

.double_section a
{
    text-decoration: none;
    color: black;
}

figcaption
{
    font-size: 0.9em;
}

.fa-star
{
    color: #0065FC;
}

.graystar
{
    color: #F2F2F2;
}

.hebergements:nth-child(1)
{
    flex: 3;
}

.populaires:nth-child(2)
{
    flex: 1;
}

/*Section hebergements*/
.hebergements
{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#hebergements
{
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
}

.show_more
{
    margin-left: 50px;
}

.result_hebergements
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: stretch;
}

.hebergements img
{
    height: 140px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements a
{
    height: 195px;
    width: 240px;
    margin: 40px;
}

.hebergements figure
{
    box-shadow: 1px 1px 10px gray;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 0;
}

.hebergements figcaption
{
    padding-left: 15px;
}

/*Section Les plus populaires*/
.populaires
{
    height: 700px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 25px;
}

.title_populaires
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    margin-left: 50px;
}

.fa-chart-line
{
    height: 15px;
    width: 50px;

}

.result_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.populaires a
{
    height: 140px;
    width: 300px;
    margin: 25px;
}

.populaires figure
{
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 10px grey;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 0;
}

.populaires img
{
    height: 100%;
    width: 100%;
    max-width: 125px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.populaires figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 25px;
}

/*Section activites*/
.activites
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.result_activites figcaption
{
    margin-top: 5px;
    margin-left: 20px;
}

.result_activites
{
    display: flex;
    align-items: stretch;
}

.activites a
{
    text-decoration: none;
    color: black;
    height: 500px;
    width: 400px;
    margin-right: 50px;
}

.activites figure
{
    box-shadow: 1px 1px 10px gray;
    height: 100%;
    width: 100%;
    background-color: white;
    padding-bottom: 40px;
    border-radius: 20px;
    margin: 0;
}

.activites img
{
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.double_activites figure
{
    height: 220px;
    width: 400px;
}

.fort figure
{
    height: 275px;
    margin-right: 50px;
}

.iles figure
{
    height: 165px;
}

/*Footer*/
footer
{
    display: flex;
    background-color: #F2F2F2;
    padding-left: 5%;
}

footer h2
{
    font-size: 1.1em;
}

footer ul
{
    font-size: 0.9em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-right: 340px;
    padding-left: 0%;
}

footer li
{
    padding-bottom: 10px;
}

/*Version mobile*/
@media all and (max-width: 576px)
{
    .bloc_page 
    {
        margin: 0 auto;
        width: auto;
    }

    body
    {
        max-width: 100%;
        margin:0;
    }

    /*Header - Nav*/
    header nav ul
    {
        display:flex;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    
    .nav
    {
        width: 100%;
        flex-direction: column;
    }

    .ancre
    {
        width: 100%;
        margin-bottom: 20px;
        padding-top: 15px;
    }

    .ancre a
    {
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
    }

    .ancre a:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    #logo
    {
        position: absolute;
        padding: 10px 0px 0px 10px;
    }

    .register
    {
        display: flex;
        flex-direction: row-reverse;
        padding: 35px 25px 10px 0px;
    }

    nav a
    {
        padding: 25px 10px 20px 5px;
    }

    /*Section bloc_search*/
    .bloc_search h1, h2, p
    {
        margin-left: 10px;
    }

    .searchButton
    {
        display:none
    }

    .search
    {
        padding-left: 15px;
    }

    .searchTerm
    {
        width: 250px;
        height: 45px;
        padding: 5px;
        font-size: 1em;
    }

    .icon_search
    {
        display: flex;
        background-color: #0065FC;
        width: 45px;
        border-radius: 10px;
    }

    .fa-search
    {
        color: white;
        margin-top: 30%;
        margin-left: 30%;
    }

    .geoLoca
    {
        width: 40px;
        height: 45px;
        font-size: 17px;
    }

    .fa-map-marker-alt
    {
        margin-top: 35%;
    }

    .icon_search:hover
    {
        cursor: pointer;
    }

    .filter
    {
        width: 70%;
        flex-wrap: wrap;
    }

    .filterButton
    {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .filterButton div
    {
        margin-left: 11px;
    }

    .filter div
    {
        margin-bottom: 10px;
    }

    .fa-info
    {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    /*Div double_section*/
    .double_section
    {
        flex-direction: column-reverse;
    }

    /*Section Les plus populaires*/
    .title_populaires
    {
        margin-left: 30px;
    }
    .populaires
    {
        width: 100%;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 25px;
        padding-bottom: 50px;
    }

    .populaires a
    {
        height: 140px;
        width: 300px;
        margin: 15px;
        padding-right: 10px;
    }

    /*Section hebergements*/
    #hebergements
    {
        margin-left: 25px;
    }
    .hebergements
    {
        background-color: white;
        border-radius: 0px;
        width: 100%;
    }

    .hebergements a
    {
        height: 195px;
        width: 300px;
        margin: 15px;
        padding-right: 10px;
    }

    /*Section activites*/
    .activites
    {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .activites figure
    {
        margin-bottom: 20px;
    }

    .result_activites
    {
        flex-direction: column;
        align-items: center;
    }

    .activites a
    {
        height: 150px;
        width: 335px;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .double_activites figure
    {
        height: 150px;
        width: 335px;
    }

    .fort figure
    {
        height: 150px;
        margin-right: 0;
    }

    .iles figure
    {
        height: 150px;
    }

    /*Footer*/
    footer
    {
        flex-direction: column;
    }

    footer ul
    {
        padding-right: 0px;
    }
}

/*Version tablette*/
@media (min-width: 576px) and (max-width: 768px)
{
    .bloc_page 
    {
        margin: 0px;
        width: auto;
    }

    /*Section bloc_search*/
    .filter
    {
        flex-wrap: wrap;
    }

    .filterButton
    {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .filterButton div
    {
        margin-left: 0;
        margin-right: 10px;
    }

    .filter div
    {
        margin-bottom: 10px;
    }

    /*Div double_section*/
    .double_section
    {
        flex-direction: column-reverse;
    }

    /*Section Les plus populaires*/
    .populaires
    {
        width: 100%;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 25px;
        padding-bottom: 100px;
    }

    .populaires img
    {
        max-width: 200px;
    }

    .populaires a
    {
        height: 200px;
        width: 500px;
        margin: 15px;
    }

    .populaires figcaption
    {
        justify-content: space-around;
        margin-right: 90px;
        margin-left: 45px;
    }

    /*Section hebergements*/
    .hebergements
    {
        background-color: white;
        border-radius: 0px;
        width: 100%;
    }

    .hebergements a
    {
        height: 200px;
        width: 500px;
        margin: 15px;
    }

    /*Section activites*/
    .activites
    {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .activites figure
    {
        margin-bottom: 20px;
    }

    .result_activites
    {
        flex-direction: column;
        align-items: center;
    }

    .activites a
    {
        height: 250px;
        width: 500px;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .double_activites figure
    {
        height: 250px;
        width: 500px;
    }

    .fort figure
    {
        height: 250px;
        margin-right: 0;
    }

    .iles figure
    {
        height: 250px;
    }

    /*Footer*/
    footer ul
    {
        flex-wrap: wrap;
        padding-right: 50px;
    }
}

/*Version intermédiaire*/
@media (min-width: 768px) and (max-width: 1160px)
{
    .bloc_page
    {
        margin: 0px;
        width: auto;
    }

    /*Section bloc_search*/
    .filterButton div
    {
        margin-left: 0;
        margin-right: 10px;
    }

    /*Div double_section*/
    .double_section
    {
        flex-direction: column-reverse;
    }

    /*Section Les plus populaires*/
    .populaires
    {
        width: 100%;
        border-radius: 0px;
        margin-left: 0;
        margin-bottom: 25px;
        padding-bottom: 100px;
    }

    .populaires img
    {
        max-width: 300px;
    }

    .populaires a
    {
        height: 200px;
        width: 600px;
        margin: 15px;
    }

    .populaires figcaption
    {
        justify-content: space-around;
        margin-right: 90px;
        margin-left: 45px;
    }

    /*Section hebergements*/
    .hebergements
    {
        background-color: white;
        border-radius: 0px;
        width: 100%;
    }

    .hebergements a
    {
        height: 330px;
        width: 600px;
        margin: 15px;
    }

    .hebergements img
    {
        height: 260px;
    }

    /*Section activites*/
    .activites
    {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .activites figure
    {
        margin-bottom: 20px;
    }

    .result_activites
    {
        flex-direction: column;
        align-items: center;
    }

    .activites a
    {
        height: 250px;
        width: 600px;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .double_activites figure
    {
        height: 250px;
        width: 600px;
    }

    .fort figure
    {
        height: 250px;
        margin-right: 0;
    }

    .iles figure
    {
        height: 250px;
    }

    /*Footer*/
    footer ul
    {
        flex-wrap: wrap;
        padding-right: 100px;
    }
}

/*Deuxieme version intermédiaire*/
@media (min-width: 1161px) and (max-width: 1439px)
{
    /*Section hebergements*/
    .hebergements
    {
        width: 90%;
    }
    
    .hebergements a
    {
        height: 200px;
        width: 150px;
        margin: 15px;
    }
    
    .hebergements img
    {
        height: 130px;
    }

    /*Section activites*/
    .activites
    {
        width: 90%;

    }

    .activites figure
    {
        margin-bottom: 20px;
    }

    .result_activites
    {
        flex-direction: column;
        align-items: center;
    }

    .activites a
    {
        height: 250px;
        width: 800px;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .double_activites figure
    {
        height: 250px;
        width: 800px;
    }

    .fort figure
    {
        height: 250px;
        margin-right: 0;
    }

    .iles figure
    {
        height: 250px;
    }

    /*Footer*/
    footer ul
    {
        flex-wrap: wrap;
        padding-right: 100px;
    }
}

/*Deuxieme version intermédiaire*/
@media (min-width: 1440px) and (max-width: 1515px)
{
    /*Section hebergements*/
    .hebergements
    {
        width: 90%;
    }

    #hebergements
    {
        align-items: center;
    }
    
    .hebergements a
    {
        height: 200px;
        width: 250px;
        margin: 10px;
    }
        
    .hebergements img
    {
        height: 130px;
    }

    /*Section Activités*/
    .double_activites figure
    {
        height: 220px;
        width: 300px;
    }

    .fort figure
    {
        height: 275px;
        margin-right: 50px;
    }

    .iles figure
    {
        height: 165px;
    }
}